[submodule "Cybersecurity/Cybersecurity/P2PMessaging program and report/P2PMessaging"]
	path = Cybersecurity/Cybersecurity/P2PMessaging program and report/P2PMessaging
	url = https://github.com/ItsIzakB/P2PMessaging
[submodule "Software-Engineering/SafeSkate"]
	path = Software-Engineering/SafeSkate
	url = https://github.com/JohnSchruben/GroupJ
